
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul{
margin: 0;
padding: 0;
}
a {text-decoration: none;}
body {font-size: 14px;}
input,img {border:none;}
ul {list-style: none;}
.clearfix:after {content: "";height: 0;width: 0;display: block;clear: both;}
.fr {float: right;}
.fl {float:left;}
a:active{color:black;}

