@charset "utf-8";
/* CSS Document */

.wrap {
	background-image: url(../img/home/home640.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
}

@media screen and (height: 480px) {
	.wrap {
		background-image: url(../img/home/home640.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		height: 100%;
	}
}

@media screen and (height: 568px) {
	.wrap {
		background-image: url(../img/home/home640_1136.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		height: 100%;
	}
}

@media screen and (height: 667px) {
	.wrap {
		background-image: url(../img/home/home750_1334.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		height: 100%;
	}
}

@media screen and (height: 736px) {
	.wrap {
		background-image: url(../img/home/home1242_2280.png);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}
}



.title {
	padding-top: 45px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

.module .item {
	width: 33.333%;
	margin-top: 25px;
	float: left;
	overflow: hidden;
}

.module .item a {
	width: 75px;
	height: 75px;
	display: block;
	margin: auto;
	background-size: contain;
}

.module .item .homework {
	background-image: url(../img/home/homework.png);
}

.module .item .studydata {
	background-image: url(../img/home/studydata.png);
}

.module .item .conversation {
	background-image: url(../img/home/conversation.png);
}

.module .item .mooc {
	background-image: url(../img/home/mooc.png);
}

.module .item .reclassroom {
	background-image: url(../img/home/reclassroom.png);
}

.module .item .wrongtitle {
	background-image: url(../img/home/wrongtitle.png);
}