@charset "utf-8";
/* CSS Document */

.scroll_wrap {
	background-color: #f5f5f5;
}

.title_right .filter_date {
	margin-top: 10px;
	margin-right: 10px;
	padding: 6px;
	border: solid 1px #fff;
	border-radius: 3px;
	font-size: 12px;
}

.title_right input {
	width: 38px;
	height: 26px;
	position: absolute;
	top: 10px;
	padding: 0;
	border: 0;
	opacity: 0;
}

.hw_list {
	background-color: #fff;
}

.hw_list .item {
	height: 55px;
	padding: 0 15px;
	border-bottom: solid 1px #e0e0e0;
	overflow: hidden;
	line-height: 50px;
	font-size: 14px;
	color: #555;
}

.hw_list .item .date {
	float: left;
	margin-right: 25px;
}

.hw_list .item .info {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.hw_list .item i {
	float: right;
	width: 26px;
	height: 41px;
	margin-top: 3px;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	background-position: -48px -85px;
	-webkit-transform:scale(0.5);
	        transform:scale(0.5);
}


/* @homework detail */

header .title_left i {
	float: left;
}

header .title_left span {
	line-height: 48px;
	font-size: 18px;
}

@media screen and (max-width: 350px) {
	header .title ul {
		margin-left: 40px;
	}
}

header .title ul {
	display: inline-block;
	margin-top: -2px;
	border: solid 1px #fff;
	vertical-align: middle;
	line-height: 1em;
	font-size: 12px;
}

header .title ul li {
	float: left;
	padding: 4px 13px;
}

header .title ul li.cur {
	background-color: #5fa61f;
}

header .title ul li + li {
	border-left: solid 1px #fff;
}

.detail .title {
	position: relative;
	padding: 20px 15px;
	background-color: #fff;
	border: solid #e0e0e0;
	border-width: 1px 0;
	color: #6ac41b;
	font-size: 14px;
}

.detail .title span {
	display: inline-block;
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.detail .title .ispic:after {
	position: absolute;
	top: 11px;
	content: "";
	width: 30px;
	height: 30px;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	background-position: -100px -247px;
	-webkit-transform:scale(0.5);
	        transform:scale(0.5);
}

.detail_list .has_pic {
	margin-top: 15px;
	padding-bottom: 15px;
	border-top: solid #e0e0e0 1px;
	background-color: #fff;
}

.detail_list .headline {
	margin-top: 15px;
	margin-left: 15px;
	font-size: 14px;
	color: #555555;
}
.has_pic .pic_question {
	padding: 0 5px 15px 8px;
	
}

.has_pic .pic_question img {
	width: 85px;
	height: 45px;
	padding: 15px 5px 0 5px;
}

.pic_answer_wrap {
	border-top: solid #e0e0e0 1px;
}

.pic_question_answer {
	padding-left: 15px;
}

.pic_question_answer .answer_item{
	margin-left: 15px;
	margin: 11px 0;
	font-size: 12px;
	color: #555;
}

.pic_question_answer .answer_item span + span {
	margin-left: 23px;
}

.pic_question_answer .answer_item img {
	display: block;
	width: 85px;
	height: 45px;
	margin-top: 6px;
	margin-left: 2px;
}

.no_pic {
	margin-top: 15px;
}

.no_pic .item {
	margin-top: 21px;
	border: solid #e0e0e0;
	border-width: 1px 0;
	background-color: #fff;
	line-height: 1.7em;
	font-size: 12px;
	color: #555;
}

.no_pic .question {
	padding: 15px;
}

.no_pic .answer {
	padding: 10px 15px;
	border-top: solid #e0e0e0 1px;
}

.no_pic .answer .correct_answer {
	display: inline-block;
	width: 100px;
	color: #77d028;
}
/* @homework statistics */

.statistics {
	display: none;
}

.qid {
	padding: 7px;
	background-color: #fff;
	border: solid #e0e0e0;
	border-width: 1px 0;
}

.qid span {
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 7px 15px;
	text-align: center;
	background-color: #e4e4e4;
	line-height: 26px;
	font-size: 15px;
	color: #989898;
}

.qid .cur {
	background-color: #77d028;
	color: #fff;
}

.question_answer {
	padding: 8px 15px;
	margin-top: 15px;
	border-top: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0;
	background-color: #fff;
	font-size: 13px;
	color:#6ac41b;
}

.data_statistical {
	background-color: #fff;
}

.data_statistical .item {
	padding: 15px 15px 7px 15px;
	border-bottom: solid 1px #e0e0e0;
	color: #555;
	font-size: 13px;
}

.data_statistical .item .count {
	color: #555;
	font-size: 13px;
}

.data_statistical .item .student {
	color: #555;
	font-size: 13px;
	margin: 7px 0;
	overflow: hidden;
}

.data_statistical .item .student span {
	float: left;
	width: 25%;
	height: 15px;
	line-height: 15px;
	margin: 7px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.subjectivity {
	margin-bottom: 15px;
	overflow: hidden;
}

.subjectivity .name {
	float: left;
	width: 5em;
	line-height: 28px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.subjectivity .pic {
	margin-left: 6em;
}

.subjectivity .pic div {
	height: 20px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 5px;
	padding: 3px 15px;
	border: solid #77d028 1px;
	border-radius: 3px;
	line-height: 20px;
	color: #77d028;
}













