@charset "utf-8";
/* CSS Document */

header .title_left i {
	float: left;
}

header .title_left span {
	line-height: 48px;
	font-size: 18px;
}

@media screen and (max-width: 350px) {
	header .title ul {
		margin-left: 40px;
	}
}

header .title ul {
	display: inline-block;
	margin-top: -2px;
	border: solid 1px #fff;
	vertical-align: middle;
	line-height: 1em;
	font-size: 12px;
}

header .title ul li {
	float: left;
	padding: 4px 13px;
}

header .title ul li.cur {
	background-color: #5fa61f;
}

header .title ul li + li {
	border-left: solid 1px #fff;
}

.scroll_wrap {
	background-color: #f5f5f5;
}


/* @老的筛选器，已经不用 ******************************************************************/
.filter_wrap {
	height: 45px;
	margin-top: 15px;
	border-bottom: solid #e0e0e0 1px;
	background-color: #fff;
	font-size: 14px;
	position: relative;
}

.filter_wrap .legend {
	float: left;
	height: 45px;
	width: 75px;
	background-color: #77d028;
	color: #fff;
}

.filter_wrap .legend i:first-child {
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 8px;
	margin-left: 3px;
	background-image: url(../img/icon.png);
	background-position: -94px -48px;
	-webkit-transform:scale(0.5);
	        transform:scale(0.5);
}

.filter_wrap .legend span {
	display: inline-block;
	height: 45px;
	margin-left: 3px;
	line-height: 45px;
	position: relative;
}

.filter_wrap .legend i:last-child {
	position: absolute;
	left: 66px;
	width: 23px;
	height: 34px;
	margin-top: 8px;
	margin-left: 3px;
	background-image: url(../img/icon.png);
	background-position: -101px -81px;
	-webkit-transform:scale(0.5);
	        transform:scale(0.5);
}

.filter_wrap .filter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 45px;
	z-index: 1;
}

.filter_wrap .filter .tabs {
	padding-left: 90px;
	box-sizing: border-box;
	color: #e2e2e2;
}

.filter_wrap .filter .tabs li {
	float: left;
	width: 33.333%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.filter_wrap .filter .tabs .active {
	color: #77d028;
}

.filter .tabs_content .active {
	display: block !important;
}

.filter .tabs_content .klass, .filter .tabs_content .subject, .filter .tabs_content .point {
	background-color: #f4f4f4;
	padding: 7px;
	display: none;
}

.filter .tabs_content .klass li {
	width: 29%;
	height: 34px;
	float: left;
	margin: 2%;
	border: solid 1px #77d028;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #fff;
	line-height: 34px;
	text-align: center;
	color: #77d028;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.filter .tabs_content .klass .cur {
	background-color: #77d028;
	color: #fff;
}

.filter .tabs_content .subject li{
	width: 21%;
	height: 34px;
	float: left;
	margin: 2%;
	border: solid 1px #77d028;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #fff;
	line-height: 34px;
	text-align: center;
	color: #77d028;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.filter .tabs_content .subject .cur {
	background-color: #77d028;
	color: #fff;
}

.filter .tabs_content .point {
	font-size: 12px;
}

.filter .tabs_content .point li {
	display: inline-block;
	padding: 7px 10px;
	line-height: 1.5em;
}

.filter .tabs_content .point .cur {
	color: #77d028;
}
/********************************************************************************************/



.data_wrap {
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.data_wrap .data {
	background-color: #fff;
}

.data_wrap .data .data_item {
	border-bottom: solid #e0e0e0 1px;
}

.data_wrap .data .data_item .name {
	float: left;
	width: 28%;
	padding: 16px 10px;
	border-right: solid #e0e0e0 1px;
	box-sizing: border-box;
	text-align: center;
	font-size: 13px;
	color: #555555;
}

.data_wrap .data .data_item .content {
	float: left;
	width: 72%;
	box-sizing: border-box;
}

.data_item .content .progress {
	height: 15px;
	width: 76%;
	margin-top: 15px;
	margin-left: 8%;
	margin-right: 16%;
	border-radius: 3px;
	background-color: #e6e9ed;
	position: relative;
}

.data_item .content .progress .curpro {
	width: 0%;
	height: 15px;
	border-radius: 3px;
	background-color: #77d028;
}

.data_item .content .progress .num {
	position: absolute;
	top: 0.5px;
	left: 5%;
	height: 15px;
	font-size: 12px;
	color: #fff;
}

.errordata {
	display: none;
	background-color: #fff;
	padding: 1px 20px 20px 20px;
	color: #555;
	font-size: 14px;
	line-height: 1.5em;
}

.errordata > div {
	margin-top: 15px;
}

.crumbs_wrap {
	position: relative;
	z-index: 100;
	line-height: 31px;
	background-color: #fff;
	border-bottom: solid #d6d6d6 1px;
	font-size: 13px;
	color: #555;
}

.crumbs_wrap .crumbs {
	float: left;
	margin-left: 15px;
}

.crumbs_wrap .filter_btn {
	float: right;
	margin-right: 23px;
	color: #77d028;
}

.crumbs_wrap .filter_btn i {
	float: left;
	width: 32px;
	height: 32px;
	background-color: #77d028;
	background-image: url(../img/icon.png);
	background-position: -94px -48px;
	-webkit-transform: scale(0.5);
			transform: scale(0.5);
}